.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

  & .mat-toolbar {
    background: inherit;

    & .mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;

      &.mat-toolbar-single-row {
        justify-content: space-between;
      }
    }
  }
}

.mat-toolbar-single-row {
  justify-content: space-between;
  background-color: #0b791f;
  position: relative;

  & .mat-icon {
    color: #fff;
  }
}

.mat-icon .mat-badge-medium.mat-badge-overlap .mat-badge-content {
  position: absolute;
  top: 10px;
  left: 35px;
  z-index: 5;
}
.example-button {
  margin: 0 0.5rem;
}
.example-button:hover,
.active {
  background-color: #0e8947;
  color: #ffb600 !important;
  font-weight: bold;
}
.daily-mart {
  background: linear-gradient(45deg, #0a6824, transparent);
  padding: 0.8rem;
}
/* Hide mobile icon in desktop */
.mobile-menu {
  display: none;
}
.mobile-menu mat-icon {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.mobile-menu:active mat-icon {
  transform: scale(0.9);
}

.mat-badge-medium.mat-badge-overlap .mat-badge-content {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 0.7rem;
  z-index: 5;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

/* Mobile styles */
@media (min-width: 320px) and (max-width: 767.98px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    right: 0;
    // z-index: 1100;
  }

  .mobile-dropdown {
    display: flex;
    flex-direction: column;
    background-color: #548a5f;
    padding: 10px;
    overflow: hidden;
    top: 56px;
    left: 0;
    width: 100%;
    position: absolute;

    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .mobile-dropdown button {
    color: white;
    text-align: left;
  }

  .daily-mart {
    padding: 0.7rem;
  }

  .example-button {
    position: absolute;
    right: 65px;
  }

  /* OPEN */
  .slide-down {
    animation: slideDown 0.5s ease forwards;
  }

  /* CLOSE */
  .slide-up {
    animation: slideUp 0.5s ease forwards;
  }

  @keyframes slideDown {
    from {
      transform: translateX(100%);
      // opacity: 0;
    }
    to {
      transform: translateX(0);
      // opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 991.98px) {
  .mobile-menu {
    display: none;
  }
}
