/* Container */
.dashboard {
  padding: 20px;
  background: #f5f7fa;
}
// .modern-card-content{
//   display: inline;
// }
/* Responsive Grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 20px;
  justify-content: center;
}

/* Card Styling */
.modern-card {
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* Hover effect (Amazon-like) */
.modern-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Header */
.card-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.card-header mat-icon {
  font-size: 28px;
  color: #ff6f00;
}

/* Title */
.card-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

/* Text */
.modern-card p {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
}

/* Button */
.modern-card button {
  align-self: flex-start;
}
/* Image */
.card-img {
  width: 100%;
  height: 180px;
  border: 1px solid #ddd7d7;
  border-radius: 10px;
  object-fit: cover;
}

/* Mobile Tweaks */
@media (max-width: 600px) {
  .card-img {
    height: 140px;
    padding: 0.8rem 0;
  }
  .dashboard {
    padding: 12px;
  }

  .modern-card {
    padding: 12px;
  }

  .card-header h3 {
    font-size: 16px;
  }
}
